# ---------- ---------- ---------- ---------- ---------- #
### COMANDOS DOCKER ####
### docker system prune -a --volumes
# ---------- ---------- ---------- ---------- ---------- #

# Contenido para backend/.dockerignore
__pycache__
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.env
*.sqlite3
.git
.gitignore
.dockerignore
Dockerfile
docker-compose.yml
